.about-section {
  @media screen and (min-width: $tablet) {
    padding: 80px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 60px 0;
  }
}

.about-wrapper {
  .thumb-img-bgc {
    background-color: var(--circle-bg-color);
    border-radius: 50%;
    position: relative;
    box-shadow: var(--box-shadow-card-skills);

    ::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 3px solid var(--circle-photo-border-color-2);
    }
  }

  @media screen and (min-width: $tablet) {
    .thumb-img-bgc {
      padding: 50px 35px 20px;
      float: left;
      margin-right: 20px;
      margin-bottom: 16px;

      .thumb-img {
        width: 272px;
      }

      ::before {
        width: 305px;
        height: 305px;
        bottom: 20px;
        left: 18px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    @include flexSpaceBetween();
    gap: 72px;
    padding: 0 32px;
    align-items: start;

    .thumb-img-bgc {
      padding: 54px 45px 37px;
      margin-right: 0;
      margin-bottom: 0;

      .thumb-img {
        width: 444px;
      }

      ::before {
        width: 482px;
        height: 482px;
        bottom: 37px;
        left: 24px;
      }
    }
  }
}

.description {
  h2 {
    text-align: left;
  }

  & p {
    color: var(--logo-color);
    letter-spacing: 0.32px;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: $desktop) {
    & p {
      width: 610px;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
