.contact-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    @include flexSpaceBetween();
    flex-direction: row;
    padding-top: 60px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: inherit;
  color: inherit;
  padding-top: 20px;

  input,
  textarea {
    padding: 16px 24px;
    border: 1.5px solid var(--black-color-primary);
    border-radius: 4px;
    outline: none;

    ::placeholder {
      @include font(16px, 400, 20px);
      letter-spacing: -0.32px;
    }
  }

  textarea {
    resize: none;
  }

  @media screen and (min-width: $desktop) {
    input,
    textarea {
      width: 90%;
    }
  }
}

.wrapper-button-social-list {
  .button {
    padding: 16px 20px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 40px;
  }

  @media screen and (min-width: $desktop) {
    gap: 24px;
  }
}

.lets-talk {
  .text {
    @include font(30px, 800, 56px);
    letter-spacing: -0.6px;
    color: var(--black-color-primary);
    margin-bottom: 8px;

    & span {
      color: var(--white-color-primary);
      text-shadow: var(--text-shadow);
    }
  }

  .email {
    @include font(28px, 600, 32px);
    color: var(--black-color-primary);
  }

  @media screen and (min-width: $desktop) {
    .text {
      @include font(48px, 800, 56px);
      letter-spacing: -0.96px;
      margin-bottom: 40px;
    }
  }
}
