.experience-section {
  padding-bottom: 0;
}

.experience-wrapper-bgc {
  background-color: var(--black-color-primary);
  padding: 24px 0;

  @media screen and (min-width: $desktop) {
    padding: 60px 0;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .experience-item {
    padding: 30px 24px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    color: var(--white-color-secondary);

    .wrap {
      margin-bottom: 28px;

      .role {
        @include font(16px, 600, 28px);
        letter-spacing: -0.32px;
      }

      .period {
        color: var(--white-color-3);
        @include font(12px, 600, 20px);
        letter-spacing: -0.24px;
      }
    }
  }

  .experience-item.secondary {
    background-color: var(--grey-color-2);
    border: 1px solid transparent;
  }

  @media screen and (max-width: $max-tablet) {
    .experience-item {
      .wrap {
        .role {
          margin-bottom: 28px;
        }
      }

      .description {
        @include font(14px, 400, 24px);
        letter-spacing: 0.28px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    padding-left: 16px;
    padding-right: 16px;

    .experience-item {
      .wrap {
        @include flexSpaceBetween;

        .period {
          @include font(14px, 600, 20px);
          letter-spacing: -0.28px;
        }
      }

      .description {
        letter-spacing: 0.32px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    padding-left: 32px;
    padding-right: 32px;

    .experience-item {
      .wrap {
        .role {
          @include font(24px, 600, 28px);
          letter-spacing: -0.48px;
        }

        .period {
          @include font(16px, 600, 20px);
          letter-spacing: -0.32px;
        }
      }
    }
  }
}
