.footer {
  padding-bottom: 0;
}

.footer-wrapper-bgc {
  padding: 14px 0;
  background-color: var(--grey-bg-color-header-footer);

  @media screen and (min-width: $tablet) {
    padding: 24px 0;
  }
}

.footer-container {
  @extend %flex-space-between;

  .copy {
    color: var(--logo-color);
    @include font(12px, 400, 12px);
    letter-spacing: -0.24px;

    @media screen and (min-width: $tablet) {
      @include font(16px, 400, 20px);
      letter-spacing: -0.32px;
    }
  }
}
