.hero-section {
  padding-top: 180px;
}

.hero-wrapper {
  @extend %flex-center;
  gap: 32px;
}

.hero-content {
  width: 730px;

  .hero-description {
    width: 654px;
    color: var(--logo-color);
    @include font(24px, 400, 40px);
    letter-spacing: 0.48px;
  }
}

.hero-content > p {
  color: var(--black-color-primary);
  letter-spacing: -0.96px;
  margin-bottom: 32px;

  .hello {
    @include font(48px, 400, 56px);
  }

  .name-surname {
    @include font(48px, 700, 56px);
  }

  .role {
    @include font(48px, 800, 56px);
  }

  .role-opacity {
    @include font(48px, 800, 56px);
    color: var(--white-color-primary);
    text-shadow: var(--text-shadow);
  }
}
