.hero-section {
  @media screen and (min-width: $tablet) {
    padding-top: 160px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 180px;
  }
}

.hero-wrapper {
  @extend %flex-center;

  @media screen and (min-width: $tablet) {
    gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.hero-content {
  @media screen and (min-width: $tablet) {
    width: 420px;
  }

  @media screen and (min-width: $desktop) {
    width: 730px;
  }

  .hero-description {
    color: var(--logo-color);

    @media screen and (min-width: $tablet) {
      width: 408px;
      @include font(16px, 400, 40px);
      letter-spacing: 0.32px;
    }

    @media screen and (min-width: $desktop) {
      width: 654px;
      @include font(24px, 400, 40px);
      letter-spacing: 0.48px;
    }
  }
}

.hero-content > p {
  color: var(--black-color-primary);

  @media screen and (min-width: $tablet) {
    letter-spacing: -0.6px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    letter-spacing: -0.96px;
    margin-bottom: 32px;
  }

  .hello {
    @media screen and (min-width: $tablet) {
      @include font(30px, 400, 56px);
    }

    @media screen and (min-width: $desktop) {
      @include font(48px, 400, 56px);
    }
  }

  .name-surname {
    @media screen and (min-width: $tablet) {
      @include font(30px, 700, 56px);
    }

    @media screen and (min-width: $desktop) {
      @include font(48px, 700, 56px);
    }
  }

  .role {
    @media screen and (min-width: $tablet) {
      @include font(30px, 800, 56px);
    }

    @media screen and (min-width: $desktop) {
      @include font(48px, 800, 56px);
    }
  }

  .role-opacity {
    color: var(--white-color-primary);
    text-shadow: var(--text-shadow);

    @media screen and (min-width: $tablet) {
      @include font(30px, 800, 56px);
    }

    @media screen and (min-width: $desktop) {
      @include font(48px, 800, 56px);
    }
  }
}

.hero-image {
  @media screen and (min-width: $tablet) {
    width: 268px;
    height: 268px;
  }

  @media screen and (min-width: $desktop) {
    width: 630px;
    height: 630px;
  }
}
