.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  transform: translateX(100%);
  transition: var(--transition);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  width: 100%;
  height: 100vh;
  padding: 24px;
  background-color: var(--white-color-3);
  overflow: auto;
}

.wrapper-logo-btn {
  @include flexSpaceBetween;
  margin-bottom: 24px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--black-dark-color);

  .mobile-menu-item {
    @include font(16px, 400, 28px);
    padding: 8px 0;
  }
}
