.projects-section {
  padding-top: 0;
}

.projects-wrapper-bgc {
  padding: 60px 0;
  background-color: var(--black-color-primary);
}

.projects-item {
  @extend %flex-center;
  padding: 20px 0;
  gap: 40px;

  .thumb-img {
    padding: 40px 0 40px 64px;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .thumb-img {
      padding: 40px 64px 40px 0;
    }
  }

  .content {
    width: 582px;
    padding: 34px 0;

    .number {
      color: var(--white-color-primary);
      @include font(48px, 800, 56px);
      letter-spacing: -0.96px;
      margin-bottom: 28px;
    }
    .title {
      color: var(--white-color-primary);
      @include font(32px, 700, 40px);
      letter-spacing: -0.64px;
      margin-bottom: 28px;
    }
    .description {
      color: var(--white-color-secondary);
      @include font(20px, 400, 32px);
      letter-spacing: 0.4px;
      margin-bottom: 24px;
    }

    .buttons-list {
      .buttons-item {
        padding: 12px 0;
        border-radius: 8px;
        @include font(16px, 600, 16px);
        text-align: center;

        &:first-of-type {
          margin-right: 18px;
        }
      }
    }
  }
}
