.skills-list {
  @extend %flex-center;
  flex-wrap: wrap;
  gap: 24px;

  @media screen and (min-width: $tablet) {
    column-gap: 60px;
    row-gap: 24px;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 100px;
    row-gap: 40px;
    padding: 40px 32px;
  }

  .skills-item {
    max-width: 132px;
    flex-basis: calc((100% - 24px) / 2);
    align-self: stretch;
    @extend %flex-center;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    text-align: center;
    border: 2px solid var(--black-color-primary);
    box-shadow: var(--box-shadow-card-skills);

    .thumb-img {
      @extend %flex-center;
    }

    p {
      @include font(16px, 700, 24px);
      letter-spacing: -0.32px;
      color: var(--black-color-primary);

      @media screen and (min-width: $tablet) {
        @include font(20px, 700, 24px);
        letter-spacing: -0.4px;
      }
    }

    @media screen and (min-width: $tablet) {
      max-width: 186px;
      flex-basis: calc((100% - 60px * 2) / 3);
      gap: 32px;
      padding: 24px 16px;
    }

    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 100px * 4) / 5);
    }
  }
}
