.swiper {
  padding: 0 4px 40px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.button-icon.swiper-button-next,
.button-icon.swiper-button-prev {
  width: 44px;
  height: 44px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 95%);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  @media screen and (min-width: 760px) {
    left: var(--swiper-navigation-sides-offset, 330px);
    right: auto;
  }

  @media screen and (min-width: 1440px) {
    left: var(--swiper-navigation-sides-offset, 590px);
    right: auto;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  @media screen and (min-width: 760px) {
    right: var(--swiper-navigation-sides-offset, 330px);
    left: auto;
  }

  @media screen and (min-width: 1400px) {
    right: var(--swiper-navigation-sides-offset, 590px);
    left: auto;
  }
}
