.swiper {
  padding: 0 4px 60px;

  @media screen and (min-width: $tablet) {
    padding: 0 4px 40px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 3px 40px;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.button-icon-arrow.swiper-button-next,
.button-icon-arrow.swiper-button-prev {
  width: 44px;
  height: 44px;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 95%);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 90px);
  right: auto;

  @media screen and (min-width: $tablet) {
    left: var(--swiper-navigation-sides-offset, 290px);
    right: auto;
  }

  @media screen and (min-width: $desktop) {
    left: var(--swiper-navigation-sides-offset, 590px);
    right: auto;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 90px);
  left: auto;

  @media screen and (min-width: $tablet) {
    right: var(--swiper-navigation-sides-offset, 290px);
    left: auto;
  }

  @media screen and (min-width: $desktop) {
    right: var(--swiper-navigation-sides-offset, 590px);
    left: auto;
  }
}
