.button-icon-fill {
  display: inline-block;
  padding: 0;
  line-height: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition-property: fill;
  transition: fill var(--transition);

  &:hover,
  &:focus {
    fill: var(--white-color-primary);
  }
}

.button-icon-stroke {
  display: inline-block;
  padding: 0;
  line-height: 0;
  outline: none;
  border: none;
  background-color: transparent;
  stroke: var(--grey-color-2);
  cursor: pointer;

  transition-property: stroke;
  transition: stroke var(--transition);

  &:hover,
  &:focus {
    stroke: var(--black-dark-color);
  }
}

.button-icon-arrow {
  @extend %flex-center;
  border-radius: 50%;
  padding: 16px 14px;
  border: 1px solid var(--black-color-primary);
  outline: none;
  line-height: 0;
  background-color: transparent;
  stroke: var(--black-color-primary);
  cursor: pointer;

  transition-property: background-color, box-shadow, border;
  transition: background-color var(--transition), box-shadow var(--transition),
    border var(--transition);

  &:hover {
    background-color: var(--grey-color-4);
    box-shadow: var(--box-shadow-pagination);
    border: 1px solid transparent;
  }
}
