.logo {
  transition-property: fill;
  transition: fill var(--transition);

  &:hover,
  &:focus {
    fill: var(--black-dark-color);
  }
}

.logo > svg {
  display: block;

  &:first-child {
    @media screen and (max-width: $max-desktop) {
      width: 119px;
    }
  }

  &:last-child {
    @media screen and (max-width: $max-desktop) {
      width: 92px;
      margin-top: -16px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -10px;
    }
  }
}
